# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

# Env & secrets
.env
.env.*
*.env

# Virtualenvs
venv/
.venv/
backend/venv/

# Django runtime
/media/
staticfiles/
!.env.example

*.swp
backend/collected_static/
